<h1>This is static#index</h1>
<div class="bg-green-500 w-3/4 mx-auto p-4">
  <p class="text-white text-2xl">Test test test</p>
</div>

<div class="container m-auto my-4">
  <% unless current_or_guest_user.meetings.length > 0 %>
    <%= render "meetings_cta" %>
  <% else %>
    <%= render "meetings_landing", meetings: @meetings %>
  <% end %>
</div>


